._Navbardiv{
    border-bottom:1px solid grey;
    height:50px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
._Navbardiv1{
    /* border:1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:20%;
}
._Navbardiv2{
/* border:1px solid red; */
width:250px;
display: flex;
justify-content: right;
align-items: center;
margin-right:2%;
gap:5%;
}
._Navbardiv2>div{
    /* border:1px solid green; */
    position: relative;

    /* width:13%; */
    height:22px;
    line-height: 1;
}
._Navbardiv2>div:nth-child(2){
    box-sizing: border-box;
    padding-top: 4px;
}
._Navbardiv2>div:nth-child(3){
   margin-left: 20px;
}
._Navbardiv2>div:nth-child(4){
    margin-left: 20px;
}
._Navbarflag{
    height:100%;
    width:100%;
}
._Navbardiv2>div:nth-child(2){
font-size: 14px;
}
._Ellipseicon{
    position: absolute;
    height:5px;
}